@{
    ViewBag.Title = "Index";
}

<h2>Management System </h2>
<br />





<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.blueopal.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.default-v2.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.default-v2.min.css" />
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.rtl.min.css" />
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.silver.min.css" />
<link rel="stylesheet" href="styles/kendo.default.mobile.min.css" />
<link rel="stylesheet" href="http://kendo.cdn.telerik.com/2016.3.1028/styles/kendo.mobile.all.min.css" />
<script src="https://kendo.cdn.telerik.com/2021.1.119/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2021.1.119/js/kendo.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>






<script src="~/Scripts/enum/genderenum.js"></script>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />







<body>

    <br />
    <br />
    <input type="button" name="btn" id="modal" value="Add Employee " class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" />



    <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <form id="form_id">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"> save data</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="row-form">
                            <div class="row">
                                <div class="col">


                                    ID:  <input type="text" name="id" id="id" value="" class="form-control" />

                                </div>
                                <div class="col">
                                    Name : <input type="text" name="name" id="name" value="" class="form-control" required />

                                </div>
                                <div class="col">
                                    Father Name: <input type="text" name="fname" id="fname" value="" class="form-control" required />
                                </div>
                            </div>
                            <br>


                            <div class="row">
                                <div class="col">


                                    country:  <input type="text" name="country" id="country" value="" class="form-control" />

                                </div>
                                <div class="col">


                                    gender:  <input type="text" name="gender" id="gender" value="" class="form-control" />

                                </div>
                                <div class="col">


                                    Datetime: <input id="Datetime" title="datetimepicker" style="width: 100%;" />

                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">



                        <button type="submit" class="btn btn-primary" id="btn1">Add data</button>
                        <button type="submit" class="btn btn-primary" id="btn6">Update changes</button>

                    </div>

                </div>
            </form>
        </div>


    </div>

</body>
<br />
<br />
<br />


<div id="tab1"></div>
<br />

<script>

    var url = "http://localhost:58666"

    var dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/api/infoes",
                dataType: "json"
            },
            update: {
                url: "/api/infoes/putinfo",
                dataType: "json",
                type: "put",
                contentType: "application/json;charset=utf-8",

            },
            destroy: {
                url: "/api/infoes/Deleteinfo",
                dataType: "json",
                type: "delete",
                contentType: "application/json;charset=utf-8",
            },

            parameterMap: function (options, operation) {

                if (operation !== "read") {
                    return kendo.stringify(options);
                }


            },



        },
        schema: {
            model: {
                id: "id",
                fields: {
                    id: { editable: false, nullable: true },
                    name: { type: "text", validation: { required: true, min: 1 } },
                    fname: { type: "text", validation: { required: true, min: 1 } },
                    country: { type: "text", validation: { required: true, min: 1 } },
                    gender: { type: "number", validation: { required: true, min: 1 } },
                    Datetime: { type: "datetime", validation: { required: true, min: 1 } },


                }
            }
        }

    });
    $("#tab1").kendoGrid({
        selectable: "true",
        allowCopy: true,
        columns: [
            { field: "id" },
            { field: "name" },
            { field: "fname" },
            { field: "country" },
            { field: "Gendername" },
            { field: "Datetime" },
            // { command: { text: "Edit", click: onEdit }, title: "Edit " },


            { command: [{ text: "Edit", click: onEdit }, "destroy"], title: "Actions", width: "200px" }



        ],
      


        dataSource: dataSource,
        editable: "inline"

    });
    // populating selected row values in modal
    function onEdit(e) {
        e.preventDefault();
        var id = this.dataItem($(e.currentTarget).closest("tr")).id;
        $.getJSON("/api/infoes/" + id, function (data) {
            $("#id").val(data.id);
            $("#name").val(data.name);
            $("#fname").val(data.fname);
            $("#country").val(data.country);
            $("#gender").val(data.gender);
            $("#Datetime").val(data.Datetime);


        })
        $('#exampleModal').modal('show');
    };

    $("#tab1").on("click", ".customDelete", function () {
        var row = $(this).closest("tr");
        $("#tab1").data("kendoGrid").removeRow(row);
    });


</script>
<script>



    $("#country").kendoDropDownList({
        dataSource: ["nepal", "india", "china"],


    });
    $("#gender").kendoDropDownList({

        dataSource: str,
        dataTextField: "key",
        dataValueField: "value"


    });

</script>

<script>
    var validator = $("#form_id").kendoValidator().data("kendoValidator");

    // Validate the input when the Save button is clicked


    $("#btn1").on("click", function () {
        $("#form_id").reset();
        if (validator.validate()) {

            // If the form is valid, the Validator will return true
            //POST


            $.ajax({
                type: "POST",
                contentType: "application/json;charset=utf-8",
                url: "/api/infoes/",
                data: JSON.stringify({
                    name: $("#name").val(),
                    fname: $("#fname").val(),
                    country: $("#country").val(),
                    gender: $("#gender").data(str).val(),
                    Datetime: $("#Datetime").val(),


                }),
                dataType: "JSON",
                success: function (data) {

                    location.reload(100);


                }
            });



        }

    });
</script>
<script>

    // create DateTimePicker from input HTML element
    $("#Datetime").kendoDateTimePicker({
        value: new Date(),
        dateInput: true
    });

</script>

<script>

    $("#btn6").click(function () {
        

        $.ajax({

            type: "put",

            contentType: "application/json;charset=utf-8",

            url: "/api/infoes/" + $("#id").val(),

            data: JSON.stringify({


                id: $("#id").val(),
                name: $("#name").val(),
                fname: $("#fname").val(),
                country: $("#country").val(),
                gender: $("#gender").data(str).val(),
                Datetime: $("#Datetime").val(),
                success: function (data) {
                    location.reload(100);
                }




            }),
        });

        $('#exampleModal').modal('hide');


    });

    
</script>


