@{
    ViewBag.Title = "Index";
}

<h2>Management System </h2>
<br />

<script src="~/Scripts/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.blueopal.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.default-v2.min.css" />

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.all.min.js"></script>
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2020.3.1118/styles/kendo.default-v2.min.css" />

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2020.3.1118/js/kendo.all.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script src="register.js"></script>







<form id="form_id">
    <div class="form-row">
        <div class="col">

            ID:  <input type="text" name="id" id="id" value="" class="form-control" />

        </div>
        <div class="col">
            Name : <input type="text" name="name" id="name" value="" class="form-control" />

        </div>
        <div class="col">
            Father Name: <input type="text" name="fname" id="fname" value="" class="form-control" />
        </div>

    </div>





    <br />
    <br />


    <input type="button" name="btn" id="modal" value="Add Employee " class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" />
    <input type="button" name="btn2" id="btn2" value="Delete Employee " class="btn btn-primary" />

    <input type="button" name="btn3" id="btn3" value="Update Employee " class="btn btn-primary" />


    <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> save data</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>want to save your data</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn1">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</form>


<br />
<br />
<br />

<div id="tab1"></div>






<script>
    $(document).ready(function () {

        $("#tab1").css("display", "none");
        $.getJSON("/api/infoes/", function (data) {
            $("#tab1").css("display", "block");
            $.each(data, function (key, val) {

                $("<tr><td>" + val.id + "</td><td>" + val.name + "</td><td>" + val.fname + "</td></tr>").appendTo($("#tab1"));


            })
        })
        //POST
        $("#btn1").click(function () {
            var name = $("#name").val();
            var fname = $("#fname").val();
            $.ajax({

                type: "POST",

                contentType: "application/json;charset=utf-8",

                url: "/api/infoes/",

                data: JSON.stringify({



                    name: $("#name").val(),

                    fname: $("#fname").val(),



                }),

                dataType: "JSON",



                success: function (data) {
                    $("#tab1").find("tr:gt(0)").remove();
                    $.getJSON("/api/infoes/", function (data) {
                        $("#tab1").css("display", "block");
                        $.each(data, function (key, val) {
                            $("<tr><td>" + val.id + "</td><td>" + val.name + "</td><td>" + val.fname + "</td></tr>").appendTo($("#tab1"));


                        })

                    })



                }
            });
            $('#form_id').find('input:text').val('');


        })
        //Delete
        $("#btn2").click(function () {
            var id = $("#id").val();

            $.ajax({

                type: "DELETE",

                contentType: "application/json;charset=utf-8",

                url: "/api/infoes/" + $("#id").val(),

                data: JSON.stringify({



                    name: $("#id").val(),





                }),

                dataType: "JSON",

                success: function (data) {
                    $("#tab1").find("tr:gt(0)").remove();
                    $.getJSON("/api/infoes/", function (data) {
                        $("#tab1").css("display", "block");
                        $.each(data, function (key, val) {
                            $("<tr><td>" + val.id + "</td><td>" + val.name + "</td><td>" + val.fname + "</td></tr>").appendTo($("#tab1"));


                        })

                    })



                }
            });


        })

        //Update
        $("#btn3").click(function () {
            var id = $("#id").val();
            var name = $("#name").val();
            var fname = $("#fname").val();
            $.ajax({

                type: "put",

                contentType: "application/json;charset=utf-8",

                url: "/api/infoes/" + $("#id").val(),

                data: JSON.stringify({


                    id: $("#id").val(),
                    name: $("#name").val(),


                    fname: $("#fname").val(),



                }),

                dataType: "JSON",

                success: function (data) {
                    $("#tab1").find("tr:gt(0)").remove();
                    $.getJSON("/api/infoes/", function (data) {
                        $("#tab1").css("display", "block");
                        $.each(data, function (key, val) {
                            $("<tr><td>" + val.id + "</td><td>" + val.name + "</td><td>" + val.fname + "</td></tr>").appendTo($("#tab1"));


                        })

                    })



                }
            });


        })

    });
    // for modal popup save and cancel
    $('#modal').on('shown.bs.modal', function () {
        $('#btn1').trigger('focus')
    })

</script>



<script>


    var dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/api/infoes/",
                dataType: "jsonp"
            }
        },

    });

    $("#tab1").kendoGrid({
        columns: [
            { field: "id" },
            { field: "name" },
            { field: "fname" }
        ],

        dataSource: dataSource,

    });
</script>
<script>

</script>